[project]
	description = I lost my last bashrc, I have realised I need this!
[access]
	inheritFrom = Private-Projects
[access "refs/*"]
	owner = group user/Alex Telon (AlexTelon)
[access "refs/for/refs/*"]
	read = group user/Alex Telon (AlexTelon)
	push = group user/Alex Telon (AlexTelon)
	label-Code-Review = -2..+2 group user/Alex Telon (AlexTelon)
	label-Verified = -1..+1 group user/Alex Telon (AlexTelon)
	rebase = group user/Alex Telon (AlexTelon)
	removeReviewer = group user/Alex Telon (AlexTelon)
	submit = group user/Alex Telon (AlexTelon)
[access "refs/heads/*"]
	read = group user/Alex Telon (AlexTelon)
	create = group user/Alex Telon (AlexTelon)
	push = +force group user/Alex Telon (AlexTelon)
	pushMerge = group user/Alex Telon (AlexTelon)
[access "refs/tags/*"]
	push = +force group user/Alex Telon (AlexTelon)
	createTag = group user/Alex Telon (AlexTelon)
	createSignedTag = group user/Alex Telon (AlexTelon)
